<%- include('../layout/head.ejs')  %>
<%- include('../layout/header.ejs')  %>

<body>
    <main>
    <section>
        <!-- <div data-id="<%= data.id %>"> -->
        <form class="cafe-form" action="/favorites/<%= data.places_id %>" method="POST"> 
                <img src="<%= data.photo %>" />
                <h4 class="name"><%= data.name %></h4>
                <p class="">Rating:
                    <%= data.rating %>
                    <i class="far fa-star"></i>
                </p>
                <p class="address"><%= data.address %></p>
                <p class="quiet-score">Quiet Score: <%= data.quietScore %></p>
                
                <button type="submit" class="favorite button button-secondary">+ Add to my favorites</button>
            </form>

        </div>
      </section>

    </main>
  <footer>
    <%- include('../layout/footer.ejs') %>
  </footer>
</body>







